/* charts.component.css */
.charts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
  grid-gap: 20px; /* Add some spacing between the charts */
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  max-width: 100%; /* Ensure the canvas doesn't exceed its container's width */
  max-height: 80vh; /* Set the maximum height to 80% of the viewport height */
}
